"*":
  Hydrogen:
    startupCode: '''
      {
        "kernelspecs": {
          "python3": {
            "resource_dir": "/Users/murakamiyuki/opt/anaconda3/share/jupyter/kernels/python3",
            "spec": {
              "argv": [
                "/Users/murakamiyuki/opt/anaconda3/bin/python",
                "-m",
                "ipykernel_launcher",
                "-f",
                "{connection_file}"
              ],
              "env": {},
              "display_name": "Python 3",
              "language": "python",
              "interrupt_mode": "signal",
              "metadata": {}
            }
          }
        }
      }
    '''
  core: {}
  "exception-reporting":
    userId: "7ab79310-39e7-46f6-96fb-04caa80ef60d"
